@model UserCreateModel


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - loginTemplate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IdentityPractice.styles.css" asp-append-version="true" />

</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">

            @*		------------------	Main Content START ---------------*@

<form asp-action="SignUp" asp-controller="Login" method="post">
    <div class="form-control">
        <label asp-for="Username">Username</label>
        <input asp-for="Username"  />
        <span asp-validation-for="Username"  class="text-danger" ></span>
    </div>

    <div class="form-control">
        <label asp-for="Password">Password</label>
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-control">
        <label asp-for="ConfirmPassword">ConfirmPassword</label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-control">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-control">
        <label asp-for="Gender">Gender</label>
        <input asp-for="Gender" />
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>

    <div>
        <button class="btn btn-success">SignUp</button>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger" ></div>

</form>

            @*		------------------	Main Content END ---------------*@

        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>